body {
  margin: 40px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

#page {
  max-width: 720px;
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 0.2em;
}

.affiliation {
  margin-top: 0;
  margin-bottom: 1.2em;
}

.nav {
  margin-bottom: 1em;
}

.nav a {
  text-decoration: none;
  color: #0000cc;
}

.nav a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #999;
  margin: 1.5em 0;
}
