body {
  margin: 40px auto;
  max-width: 680px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 17px;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

nav {
  margin-bottom: 1em;
  font-size: 0.95rem;
}

nav a {
  text-decoration: none;
  color: #0000cc;
  margin-right: 1em;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 4px;
}

.affiliation {
  margin: 0.2em 0 1em 0;
  font-size: 1rem;
}

.social-links {
  margin-bottom: 1em;
  font-size: 0.95rem;
}

footer {
  margin-top: 2em;
  font-size: 0.85rem;
  color: #666;
}
